#kw,.btn,.btn_wr {
	background: url("http://localhost:8080/snf/img/spis_1.png") no-repeat
		#fff
}

#kw {
	width: 529px;
	height: 22px;
	padding: 4px 7px;
	padding: 6px 7px 2px;
	font: 16px arial;
	border: 1px solid #cdcdcd;
	border-color: #9a9a9a #cdcdcd #cdcdcd #9a9a9a;
	vertical-align: top;
	outline: none
}

.btn {
	width: 95px;
	height: 32px;
	padding: 0;
	padding-top: 2px;
	border: 0;
	background-position: 0 -35px;
	background-color: #ddd;
	cursor: pointer
}

.btn_h {
	background-position: -100px -35px
}

#kw,.btn_wr {
	margin: 0 3px 0 0
}