<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ss="http://www.springframework.org/schema/security"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
	http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<mongo:mongo id="mongo" host="127.0.0.1" port="27017"/>
	
	<mongo:db-factory id="mongoDbFactory" dbname="itechnique" mongo-ref="mongo"/>
	
	<mongo:mapping-converter id="converter"/>
	
	<bean id="noClassMongoConverter" class="org.itechnique.web.mongo.MongoConverterEnhanceFactoryBean">
		<property name="mongoConverter" ref="converter" />
	</bean>
	
	<mongo:template id="mongoTemplate" db-factory-ref="mongoDbFactory" converter-ref="noClassMongoConverter"/>

	<mongo:gridFsTemplate id="gridFsTemplate" db-factory-ref="mongoDbFactory" converter-ref="noClassMongoConverter"/>

	<context:annotation-config/>
	
</beans>